:root {
  --accent-color: #fff
}

::-webkit-scrollbar {
  width: 0;
  background: 0 0
}

::selection {
  background: var(--accent-color)
}

::-moz-selection {
  background: var(--accent-color)
}

body,
html {
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #F7F8FB;
}

.gocrypt-container {
  transition: .5s;
  height: 100vh;
  display: flex;
}

.gocrypt-left-div,
.gocrypt-right-div {
	margin: auto;
}

.gocrypt-right-div {
	width: 66vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.gocrypt-left-div{
	width: 34vw;
	height: 100vh;
}

.gocrypt-left-div>h1{
	color: #6d6d6d;
	font-weight: 400;
	padding-left: 20%;
}

.gocrypt-left-div>h2{
	color: #8b8b8b;
	font-size: 12pt;
	font-weight: 400;
	padding-left: 20%;
}

block{
	display: block;
	line-height: 35%;
	padding-left: 20%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

block>h2{
	color: #a1a1a1;
	font-weight: 400;
}

block>h3{
	color: #818181;
	font-weight: 600;
	line-height: 100%;
	overflow-wrap: break-word;
}

plaintext-div{
	background-color:#FFF;
	-webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.25);
	border-radius: 90px;
}