::selection {
  background: #29a9ff;
}

body,
html {
	font-family: Avenir;
	height: 100%;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-app-region: drag;
	-webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
	color: #555;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.description {
	width: 84%;
	text-align: left;
	line-height: 30%;
	padding-left: 4%;
	padding-bottom: 3%;
}

.description>p {
	font-size: 12pt;
	line-height: 1.2;
	font-style: italic;
}

.item>h1 {
	font-size: 16pt;
	font-weight: 800;
}

.item>h2 {
	font-size: 12pt;
	font-weight: 400;
}

.logo-container>img {
	max-width: 80%;
	user-select: none;
}

.info-container {
	display: flex;
	justify-content: space-evenly;
	width: 96%;
}

.info-container>p {
	font-style: italic;
	font-size: 12pt;
}

.frame-container-left {
	width: 45%;
	display: flex;
	flex-direction: column;
	padding-top: 1%;
	margin-right: 1.5%;
}

.frame-container-right {
	width: 55%;
	display: flex;
	flex-direction: column;
}

.nav-container {
	width: 100%;
	display: flex;
	padding-bottom: 9%;
}

.frame-button {
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

.close {
	background-color: #ee6a5f;
	margin-left: 8px;
	-webkit-app-region: no-drag;
}

.close:hover {
	background-color: #cf5c52;
}

.add {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #5de97b;
	-webkit-app-region: no-drag;
	text-align: center;
	color: white;
}

.add:hover {
	background-color: #57da73;
}

.full-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.title-container {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.title-container>h1 {
	font-size: 32pt;
	margin-top: 1%;
	margin-bottom: 5%;
	color: #555;
	user-select: none;
}

.logo-container {
	text-align: center;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.footer-container {
	width: 100%;
	height: auto;
	margin-top: 4%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn {
	display: inline-block;
	text-decoration: none;
	background: #39b6ff;
	color: #FFF;
	width: 38px;
	font-size: 17pt;
	height: 38px;
	margin-top: 2%;
	margin-right: 4%;
	margin-left: 2%;
	line-height: 39px;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	overflow: hidden;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	border-bottom: solid 3px #2f94d0;
	transition: .4s;
	user-select: none;
}

.btn:active {
	-ms-transform: translateY(2px);
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	border-bottom: none;
}

.box-container {
	width: 100%;
	display: flex;
}

.box {
	margin-left: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
	display: inline-block;
	user-select: none;
}

.box>span {
	margin-left: 1%;
	margin-right: 15%;
	word-break: break-all; 
}

.message-box {
	height: 490px;
	text-align: left;
	padding-left: 3%;
	padding-top: 2%;
	-webkit-app-region: no-drag;
	border-radius: 2em;
	resize: none;
}

.content-box {
	margin-top: 4%;
	height: 15%;
	text-align: left;
	padding-left: 3%;
	padding-top: 2%;
	-webkit-app-region: no-drag;
	resize: none;
	border-radius: 12em;
}

.ip-container {
	display: flex;
	flex-direction: row;
	padding-left: 6%;
	padding-top: 6%;
}

.ip-box {
	width: 80%;
	height: 5%;
	text-align: left;
	padding-left: 3%;
	padding-top: 2%;
	-webkit-app-region: no-drag;
	resize: none;
}

.port-box {
	width: 20%;
	height: 5%;
	text-align: left;
	padding-left: 3%;
	padding-top: 2%;
	margin-left: 3%;
	-webkit-app-region: no-drag;
	resize: none;
}

.textbox-container {
	width: 98%;
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input[type=text], textarea {
	border-color: white;
	background-color: white;
	border-style: solid;
	overflow: scroll;
	font-family: "Courier New", Courier, monospace;
	color: #555;
	font-size: 10pt;
}

.inp-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	flex-flow: wrap;
}

.inp {
  position: relative;
  margin: auto;
}

.ip {
	width: 42%;
}

.port {
	width: 27%;
}

.nickname {
	width: 92%;
	margin-bottom: 24px;
}

.password {
	width: 92%;
	margin-top: 24px;
}

.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}

.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 6px 0;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: rgba(34,50,84,0.03);
}

.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
  background: none;
  outline: none;
}

.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
  transform: scaleX(1);
}
