::selection {
	background:#29a9ff
}

body,html {
	-webkit-app-region:drag;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	font-family:Avenir;
	height:100%;
	overflow:hidden;
	transition:all .5s
}

body {
	color:#555
}

.description {
	line-height:30%;
	padding-bottom:3%;
	padding-left:4%;
	text-align:left;
	width:84%
}

.description>p {
	font-size:12pt;
	font-style:italic;
	line-height:1.2
}

.logo-container>img {
	max-width:80%;
	user-select:none
}

.info-container {
	display:flex;
	justify-content:space-evenly;
	width:96%
}

.info-container>p {
	font-size:12pt;
	font-style:italic
}

.frame-container-left {
	display:flex;
	flex-direction:column;
	margin-right:1.5%;
	padding-top:1%;
	width:45%
}

.frame-container-right {
	display:flex;
	flex-direction:column;
	width:55%
}

.nav-container {
	display:flex;
	padding-bottom:9%;
	width:100%
}

.frame-button {
	border-radius:50%;
	height:14px;
	width:14px
}

.close {
	-webkit-app-region:no-drag;
	background-color:#ee6a5f;
	margin-left:8px
}

.close:hover {
	background-color:#cf5c52
}

.add {
	-webkit-app-region:no-drag;
	background-color:#5de97b;
	border-radius:50%;
	color:#fff;
	height:28px;
	text-align:center;
	width:28px
}

.add:hover {
	background-color:#57da73
}

.full-container {
	display:flex;
	height:100%;
	width:100%
}

.logo-container {
	height:auto;
	margin-bottom:15px;
	text-align:center;
	width:100%
}

.btn {
	background:#39b6ff;
	border-bottom:solid 3px #2f94d0;
	border-radius:50%;
	box-shadow:0 2px 2px rgba(0,0,0,0.15);
	color:#FFF;
	display:inline-block;
	font-size:17pt;
	font-weight:700;
	height:38px;
	line-height:39px;
	margin-left:2%;
	margin-right:4%;
	margin-top:2%;
	overflow:hidden;
	text-align:center;
	text-decoration:none;
	transition:.4s;
	user-select:none;
	vertical-align:middle;
	width:38px
}

.btn:active {
	-ms-transform:translateY(2px);
	-webkit-transform:translateY(2px);
	border-bottom:none;
	box-shadow:0 0 1px rgba(0,0,0,0.15);
	transform:translateY(2px)
}

.message-container {
	-webkit-app-region:no-drag;
	background-color:#fff;
	border-radius:2em;
	height:499px;
	max-width: 100%;
	overflow-x: hidden;	
	overflow-y:scroll;
	padding-left:3%;
	padding-right: 3%;
	padding-top:2%;
	word-wrap: break-word;
}

ul {
	list-style:none;
	margin:0;
	padding:0
}

ul li {
	border-radius:30px;
	clear:both;
	display:inline-block;
	margin-bottom:8px;
	max-width:300px;
	padding:20px
}

.them {
	background:#eee;
	float:left
}

.me {
	background:#39b6ff;
	color:#fff;
	float:right
}

.them + .me {
	border-bottom-right-radius:5px
}

.me + .me {
	border-bottom-right-radius:5px;
	border-top-right-radius:5px
}

.me:last-of-type {
	border-bottom-right-radius:30px
}

.content-box {
	-webkit-app-region:no-drag;
	border-radius:12em;
	margin-top:4%;
	padding-left:3%;
	resize:none;
	text-align:left
}

.textbox-container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-top:2%;
	width:98%
}

input[type=text],textarea {
	background-color:#fff;
	border-color:#fff;
	border-style:solid;
	color:#555;
	font-size:12pt;
	overflow:scroll
}

.inp-container {
	display:flex;
	flex-direction:row;
	flex-flow:wrap;
	justify-content:space-between;
	width:100%
}

.inp {
	margin:auto;
	position:relative
}

.ip {
	width:42%
}

.port {
	width:27%
}

.nickname {
	margin-bottom:24px;
	width:92%
}

.password {
	margin-top:24px;
	width:92%
}

.inp .label {
	color:#9098a9;
	font-size:16px;
	font-weight:500;
	left:0;
	position:absolute;
	top:16px;
	transform-origin:0 0;
	transition:all .2s ease
}

.inp .border {
	background:#07f;
	bottom:0;
	height:2px;
	left:0;
	position:absolute;
	transform:scaleX(0);
	transform-origin:0 0;
	transition:all .15s ease;
	width:100%
}

.inp input {
	-webkit-appearance:none;
	background:none;
	border:0;
	border-bottom:2px solid #c8ccd4;
	border-radius:0;
	color:#223254;
	font-family:inherit;
	font-size:16px;
	font-weight:500;
	padding:6px 0;
	transition:all .15s ease;
	width:100%
}

.inp input:hover {
	background:rgba(34,50,84,0.03)
}

.inp input:not(:placeholder-shown) + span {
	color:#5a667f;
	transform:translateY(-26px) scale(0.75)
}

.inp input:focus {
	background:none;
	outline:none
}

.inp input:focus + span {
	color:#07f;
	transform:translateY(-26px) scale(0.75)
}

.inp input:focus + span + .border {
	transform:scaleX(1)
}